@page
@model MediadorFacil.Api.Pages.Cliente.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.RazaoSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.RazaoSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.DataInclusao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.DataInclusao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.DataAlteracao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.DataAlteracao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empresa?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
